<header class="header-block" id="header">
            <div class="header-top">
                <div class="header-content">
                    <div class="header-logo">
                        <a href="/"><img src="img/gen/logo-full.svg" alt="digerati." width="auto" height="40"></a>
                    </div>
                    <input type="checkbox" class="nav-button" id="nav-button">
                    <div class="nav-button-container">
                        <label for="nav-button" class="nav-icon"></label>
                    </div>
                    <nav class="header-nav">
                        <a href="/" class="head-nav-link">Home</a>
                        <a href="/about" class="head-nav-link">About us</a>
                        <a href="/menus" class="head-nav-link">Menus</a>
<!--                        <a href="#" class="head-nav-link">Gallery</a>-->
                        <a href="/contact" class="head-nav-link">Contact</a>
                        <a href="#footer" class="head-nav-link">Find us</a>
                    </nav>
                </div>
            </div>
        </header>

        <button onclick="topFunction()" id="to-top-btn" title="Go to top"></button>
