* {
    box-sizing: border-box;

}
body {
    grid-template-areas:
            "cover-t cover-t cover-t cover-t cover-t cover-t cover-t cover-t"
            ". content content content content content content ."
            "cover-b cover-b cover-b cover-b cover-b cover-b cover-b cover-b"
            "footer footer footer footer footer footer footer footer";
    grid-template-rows: repeat(4, min-content );
    background-color: #929292;
}

#cover-t {
    grid-area: cover-t;
}
#cover-b {
    grid-area: cover-b;
}
#content {
    grid-area: content;
}
.cover-top {
    background-image: url("/img/about-cover.jpg");
    background-size: cover;
    background-position: 50% -18em;
    background-attachment: fixed;
    height: 230px;
    opacity: 0.5;
}
.about-bg {
    background: #5c626b;
}
.page-content {
    display: grid;
    color: #fff;
    background-color: #5c626b;
    width: 100%;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;

}
.page-content h1{
    margin: 0 auto;
}
.page-content p {
    margin: 1em auto;
    text-align: center

}
.about-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    font-size: calc(8px + .5vw);
    margin-bottom: 1em;
}
.about-info table {
    width: fit-content;
    
}
.about-info table:last-child {
    text-align: right;
    justify-self:right;
}
.about-info table td {
    padding: 3%;
    padding-bottom: 0;
    padding-top: 0;
    white-space: nowrap;
}
video {
    outline: none;
}
button {
    border: 2px solid #fff;
    width: 30%;
    margin: 2em auto;
    margin-bottom: 0;
    font-family: inherit;
    font-size: calc(15px + .5vw);
    padding: 0.5em;
    height: auto;
    background: none;
    color: inherit; 
    outline: none;
}
button:hover {
    opacity: 0.5; 
}
button:active {
    border-color: #2c323b;
    color: #3c424b;
}
.cover-bottom {
    background-image: url("/img/about-cover.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 160px;
    color: #aaaaaa;
    opacity: 0.5;
}

@media (min-width: 680px) and (max-width: 1023px) {
    body {
        grid-template-areas:
            "cover-t cover-t cover-t cover-t cover-t cover-t"
            "content content content content content content"
            "cover-b cover-b cover-b cover-b cover-b cover-b"
            "footer footer footer footer footer footer";
        grid-template-rows: repeat(4, min-content );
    }
    button {
        width:33%;
    }
}


@media all and (max-width: 679px ) {
    body {
        grid-template-areas:
            "cover-t cover-t cover-t cover-t cover-t cover-t"
            "content content content content content content"
            "cover-b cover-b cover-b cover-b cover-b cover-b"
            "footer footer footer footer footer footer";
        grid-template-rows: repeat(4, min-content );
    }
    .page-content {
        grid-template-rows:1fr;
        grid-template-columns: 1fr;
    }
    .page-content img {
        display: none;
    }
    .page-contain {
        grid-template-rows: min-content min-content;
    }
    .about-info {
        grid-template-columns: 1fr;
    }
    .about-info table {
    justify-self: center;
    text-align: center;
}
    .about-info table:last-child {
        text-align: center;
        justify-self: center;
    }
    
    .about-info table td {
        padding: 5%;
        padding-bottom: 0;

    }
    .cover-top {
        height: 230px;
    }
    .cover-bottom {
        height: 160px;
    }
     button {
        width:40%;
    }
}
