<!doctype html>
<html lang="en">
    <head>
        <title>About us - digerati.</title>
        <% include ../partials/head %>
        <link href="css/about.css" rel="stylesheet" type="text/css">
    </head>
    <body>
       <% include ../partials/header %>

        <div class="cover-top" id="cover-t"></div>

        <div class="about-bg"></div>

        <div class="page-content" id="content">
            <h1 class="bigH">about us.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nisi inventore repellat. Eaque ducimus, ipsum minus fuga eius, alias corrupti a reprehenderit. Eaque ducimus, ipsum minus fuga eius, alias corrupti a reprehenderit. Eaque ducimus, ipsum minus fuga eius, alias corrupti a reprehenderit. Harum fugit distinctio adipisci quae cupiditate, eaque. Obcaecati!</p>
            <div class="about-info">
                <table>
                    <tr>
                        <td>Address:</td>
                        <td>1748 Rust Hills , Middle Earth</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Opening hours:</td>
                        <td>Weekdays</td>
                        <td>Weekends</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>7am-9pm</td>
                        <td>7am-9pm</td>
                    </tr>                
                </table>
            </div> 
            <video width="100%" height="auto" poster="img/video.jpg" controls>
                <source src="/img/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <button>
                <a href="/contact">Ask us something!</a>
            </button>
        </div>
        
        

        <div class="about-bg"></div>

        <div class="cover-bottom" id="cover-b"></div>

       <% include ../partials/footer %>

    </body>
</html>
